/* Style du formulaire de connexion */
.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
  
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Mettre la vidéo en arrière-plan */
  }
  
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px; /* Augmenter l'espace intérieur */
    border-radius: 20px; /* Augmenter le rayon des coins */
    width: 400px; /* Ajuster la largeur */
    max-width: calc(100% - 40px); /* Limiter la largeur pour éviter le débordement */
    z-index: 1; /* Mettre la carte au premier plan */
    /*animation: slide-up 0.5s ease; /* Appliquer l'animation */
  }
  .person-animation {
    position: absolute;
    left: 20px; /* Ajustez la position horizontale selon vos besoins */
    top: 40%; /* Placez l'image au milieu de la hauteur de la page */
    transform: translateY(-50%);
    z-index: 1; /* Assurez-vous que l'image est au-dessus de la vidéo de fond */
    animation: movePerson 3s infinite alternate; /* Appliquez l'animation */
  }
  
  @keyframes movePerson {
    from {
      transform: translateY(-50%) translateX(-10px); /* Déplacez l'image vers la gauche */
    }
    to {
      transform: translateY(-50%) translateX(-20px); /* Déplacez l'image plus loin vers la gauche */
    }
  }
  
  .card-header {
    background-color:  #add8e6;
    color: white;
    padding: 20px; /* Augmenter l'espace intérieur */
    border-top-left-radius: 20px; /* Ajuster le rayon des coins */
    border-top-right-radius: 20px; /* Ajuster le rayon des coins */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    margin: 10px;
    padding: 15px; /* Augmenter la hauteur */
    font-size: 18px; /* Augmenter la taille de la police */
    border-radius: 8px;
    border: 1px solid #ccc; /* Ajouter une bordure */
    width: calc(100% - 30px); /* Ajuster la largeur */
  }
  
  button {
    background-color:  #add8e6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:  #add8e6;
  }
  
  
  
  
  @keyframes slide-up {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  